* {
    box-sizing: border-box;
}

header, footer {
    background-color: #1F2937;
}
h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 800;
}
h2, #quote {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}
.quote-container {
    background-color: #e5e7eb;
}
#quote {
    font-style: italic;
}
nav p {
    font-size: 24px;
    color: #f9faf8;
}
.header a, .header p{
    font-size: 18px;
    color: #e5e7eb;
}
.logo {
    align-items: center;
    gap: 10px;
    padding: 10px;
}
button, #action {
    background-color: #3882f6;
}
img {
    width: 500px;
    height: 100%;
}
#logo {
    width: 24px;
    height: 24px;
}
header {
    display: flex;
    flex-direction: column;
}
.header, .header.nav {
    display: flex;
}
nav.header {
    justify-content: space-between;
    align-content: center;
    width: 80%;
    margin: auto;
}
ul.header {
    
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}